
*.*
*
!*/
!/common/**
!/nemu/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!/npc/*
!/npc/csrc/**/*.cpp
!/npc/csrc/**/*.cc
!/npc/csrc/**/*.h
!/npc/include/*.h
!/npc/include/common/*.h
!/npc/include/cpu/*.h
!/npc/include/memory/*.h
!/npc/include/device/*.h
!/npc/scripts/*.mk
!/npc/tools/*.mk
!/npc/resource/riscv32-bin/*
!/npc/tools/kconfig/*
!/npc/tools/kconfig/lxdialog/*
!/npc/tools/fixdep/*.c
!/npc/test/addi/*
!/npc/**/filelist.mk
!/npc/src/**/Kconfig
!/npc/src/**/*.cpp
!/npc/src/**/*.cc
!/npc/src/**/*.c
!/npc/src/**/*.h
!/npc/vsrc/**/*.h
!/npc/vsrc/**/*.v
!/npc/vsrc/**/*.cpp
!/npc/src/am-bin.S
!/build_container/*
!Makefile
!README.md
!.gitignore
!init.sh
/fceux-am
# /am-kernels
npc/.config
npc/.config.old
npc/include/config
npc/include/generated

/am-kernels
