
*.*
*
!*/
!/common/**
!/nemu/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!/npc/*
!/npc/csrc/**/*.cpp
!/npc/csrc/**/*.h
!/npc/vsrc/*
!/npc/include/*.h
!/npc/include/common/*.h
!/npc/include/cpu/*.h
!/npc/include/memory/*.h
!/npc/include/device/*.h
!/npc/csrc/**/Kconfig
!Makefile
!README.md
!.gitignore
!init.sh
/fceux-am
# /am-kernels
npc/.config
npc/.config.old
npc/include/config
npc/include/generated

